/*=====================================
=            Common styles            =
=====================================*/
html {
	font-size: 62.5%;
}

body {
}

html, body {
	height: 100%;
	user-select: text;
	color: @brand;
}

* {
	box-sizing: border-box;
}

body {

}

