.banner {
	display: flex;
	@media @mobile {
		flex-wrap: wrap;
	}
	&__wrapper {
		position: relative;
		@media @mobile {
			margin: 20px 0;
		}
	}
	&__image {
		flex-shrink: 0;
		img {
			width: 100%;
		}
	}
	&__text {
		position: absolute;
		top: 0;
		left: 37px;
		padding: 20px 80px;
		color: white;
		font-size: 2.4rem;
		text-transform: uppercase;
		background-color: rgba(255, 255, 255, .35);
		@media @mobile {
			padding: 5px 10px;
			font-size: 2rem;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			line-height: 2.4rem
		}
	}
	
}

.promo {
	display: flex;
	@media @mobile {
		flex-direction: column;
		margin-top: 40px;
	}
	@media @desktop {
		margin-top: 93px;
	}
	&__left {
		@media @desktop {
			width: 47%;
		}
		img {
			width: 100%;
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media @desktop {
			width: 53%;
			padding-left: 36px;
			padding-right: 90px;
		}
	}
	
	&__text {
	
	}
	
	&__title {
		margin-top: 22px;
		font-size: 3rem;
		line-height: 3.3rem;
	}
	&__description {
		margin-top: 33px;
		font-size: 1.6rem;
		line-height: 1.8rem;
	}
	
	&__timing {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		@media @mobile {
			margin: 20px 0;
			justify-content: space-between;
		}
		li:not(:last-child) {
			margin-right: 50px;
		}
		.value {
			color: #98d62c;
			font-size: 3rem;
			font-weight: 700;
			margin-bottom: 8px;
		}
		.key {
			color: #666;
			font-size: 1.4rem;
		}
	}
	
	&__actions {
		@media @mobile {
			display: flex;
		}
		.to-buy {
			color: white;
			font-size: 2.4rem;
			font-weight: 700;
			width: 160px;
			height: 51px;
			background-color: #9c3;
			border: 1px solid white;
			border-radius: 3px;
			text-transform: lowercase;
			margin-right: 47px;
		}
		.to-favourites {
			color: #999;
			font-size: 1.2rem;
			&::before {
				content: '';
				display: block;
				float: left;
				background: url("../images/icon-favorites.png");
				width: 21px;
				height: 18px;
				margin-right: 19px;
			}
		}
	}
}

.types {
	display: flex;
	margin-top: 68px;
	@media @mobile {
		flex-direction: column;
	}
	a {
		display: flex;
		flex-direction: column;
		.transition();
		@media @mobile {
			width: 100%;
		}
		&:not(:last-child) {
			margin-right: 2px;
		}
		&:hover {
			text-decoration: none;
			opacity: .75;
		}
	}
	&__image {
		width: 100%;
	}
	
	&__name {
		color: white;
		font-size: 1.8rem;
		font-weight: 700;
		text-transform: uppercase;
		height: 46px;
		background-color: #98d62c;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.hits {
	margin-top: 34px;
}

.hits-swither {
	display: flex;
	justify-content: center;
	&__button {
		font-size: 2.3rem;
		font-weight: 500;
		padding: 0 22px;
		margin: 0 2px;
		
		&--active {
			background-color: #f2f2f2;
			border-radius: 5px;
		}
	}
}

.hits-carousel {
	margin-top: 36px;
	position: relative;
	&__controls {
		a {
			display: block;
			position: absolute;
			background: url("../images/prev-arrow-type-2.png");
			width: 51px;
			height: 51px;
			&:hover {
				cursor: pointer;
			}
		}
		.prev {
			top: 87px;
			left: -50px;
		}
		.next {
			background: url("../images/prev-arrow-type-2.png");
			top: 87px;
			right: -50px;
			transform: rotate(-180deg);
		}
	}
}

.hits-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		width: 270px;
		//height: 369px;
		background-color: white;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		padding: 23px 27px 20px;
		border: 1px solid transparent;
		z-index: 3;
		
		.transition();
		&:hover {
			border: 1px solid #cecece;
			.hidden-specs {
				opacity: 1;
			}
			.hits-list__exist {
				color: #9c3;
			}
		}
	}
	&__image {
		height: 214px;
		img {
			width: 100%;
		}
	}
	&__name {
		padding-top: 35px;
		color: #2b2620;
		text-decoration: underline;
		position: relative;
		&:hover {
			cursor: pointer;
		}
	}
	&__mark {
		position: absolute;
		top: 5px;
		left: -13px;
		background: url("../images/flag.png") center;
		width: 50px;
		height: 32px;
	}
	&__status {
		color: #2b2620;
		margin-top: 13px;
	}
	&__price {
		font-weight: 700;
	}
	&__exist {
		color: #626262;
		font-size: 1.2rem;
		margin-left: 11px;
		.transition();
	}
	&__to-favourites {
		margin-top: 32px;
		display: block;
		color: #666;
		font-size: 1.2rem;
		display: flex;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
		i {
			background: url("../images/icon-favorites2.png");
			width: 27px;
			height: 24px;
			float: left;
			margin-right: 15px;
		}
	}
}

.hidden-specs {
	font-size: 1.2rem;
	margin-top: 11px;
	transition: all .2s linear;
	opacity: 0;
	&__item {
		span {
			font-weight: bold;
		}
	}
}

.brands {
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	margin-top: 32px;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 113px;
	position: relative;
	img {
		width: 100%;
	}
	&__text {
		position: absolute;
		height: 23px;
		bottom: -10px;
		border: 1px solid #555;
		color: #fff;
		border-radius: 5px;
		background-color: #484848;
		border: 1px solid white;
		border-radius: 3px;
		padding: 0 38px;
		display: flex;
		align-items: center;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}


.sale {
	margin-top: 75px;
	img {
		width: 100%;
	}
}

.about {
	margin-top: 50px;
	margin-bottom: 75px;
	&__title {
		color: #333;
		font-size: 2.4rem;
		margin-bottom: 33px;
		line-height: 2.6rem;
	}
	article {
		display: flex;
		@media @mobile {
			flex-direction: column;
		}
		&:not(:last-child) {
			margin-bottom: 38px;
		}
	}
	&__texts {
		@media @mobile {
			margin-top: 20px;
		}
	}
	&__image {
		width: 206px;
		height: 171px;
		flex-shrink: 0;
		
		@media @mobile {
			width: 100%;
			height: auto;
		}
		@media @desktop {
			margin-right: 62px;
		}
		img {
			width: 100%;
		}
	}
	&__link {
		color: #f60;
		text-decoration: underline;
		cursor: pointer;
		
		&:hover {
			text-decoration: none;
		}
	}
	&__description {
		margin-top: 20px;
		color: #333;
		font-size: 1.4rem;
	}
}
