/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=====================================
=            Common styles            =
=====================================*/
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  user-select: text;
}
* {
  box-sizing: border-box;
}
body {
  color: #222;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
}
.top-menu {
  background-color: #98d62c;
  min-height: 35px;
  display: flex;
  align-items: center;
}
.top-menu__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.top-menu__left {
  display: flex;
}
.top-menu__navigation {
  margin-right: 77px;
}
.top-menu__navigation ul {
  display: flex;
  align-items: center;
  height: 100%;
}
.top-menu__navigation a {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 16px;
}
.top-menu__navigation a:hover {
  text-decoration: none;
}
.top-menu__social {
  background: url("../images/top-menu-social.png");
  width: 60px;
  height: 23px;
}
.top-menu__user i {
  display: block;
  background: url("../images/icon-user.png");
  width: 26px;
  height: 23px;
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .top-menu__user i {
    background: url("../images/icon-user-2x.png");
  }
}
.middle-menu {
  padding: 14px 0;
}
.middle-menu__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.middle-menu__logo {
  display: block;
  background: url("../images/logo.png");
  width: 278px;
  height: 83px;
}
.middle-menu__connect {
  display: flex;
}
.middle-menu__connect li {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.middle-menu__connect li:not(:last-child) {
  margin-right: 25px;
}
.middle-menu__connect i {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 3px;
}
.middle-menu__connect a {
  display: inline-block;
  color: #010101;
  font-size: 1.8rem;
  font-weight: 700;
}
.middle-menu__connect--telegram i {
  background: url("../images/icon-telegram.png");
}
.middle-menu__connect--viber i {
  background: url("../images/icon-viber.png");
}
.middle-menu__connect--wa i {
  background: url("../images/icon-wa.png");
}
.middle-menu__search input {
  width: 378px;
  height: 29px;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
}
.middle-menu__search .call {
  margin-left: 14px;
  color: #eb4d23;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline;
}
.middle-menu__search .call:hover {
  text-decoration: none;
}
.middle-menu__schedule {
  width: 107px;
  color: #333;
  font-size: 1.2rem;
}
.middle-menu__schedule span {
  font-weight: 700;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__icon {
  display: block;
  background: url("../images/icon-cart.png");
  width: 41px;
  height: 36px;
}
.cart__info {
  color: #333;
  font-size: 1.2rem;
}
.navigation ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fdf2e7;
}
.navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation a {
  display: block;
  color: inherit;
  padding: 22px 26px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.navigation a:hover {
  background-color: #ebe5de;
  text-decoration: none;
}
.main-category {
  background-color: #d5e79c;
}
.main-category__icon {
  display: block;
  background: url("../images/icon-burger.png");
  width: 21px;
  height: 14px;
  margin-right: 37px;
}
.btn.btn-secondary.dropdown-toggle {
  display: block;
  color: inherit;
  padding: 22px 26px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0;
  border: none;
  background-color: #fdf2e7;
  outline: none;
}
.btn.btn-secondary.dropdown-toggle::after {
  display: none;
}
.btn.btn-secondary.dropdown-toggle:hover {
  background-color: #ebe5de;
  text-decoration: none;
  color: #222;
}
.btn.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
  outline: none;
}
.btn.btn-secondary.dropdown-toggle.active,
.btn.btn-secondary.dropdown-toggle:active {
  color: inherit;
  background-color: transparent;
}
.dropdown-menu.show {
  border: none;
  background-color: #ebe5de;
  border-radius: 0;
  position: relative;
  display: flex;
  padding: 28px 22px 25px 55px;
}
.dropdown-menu.show .buttons {
  width: 30%;
}
.dropdown-menu.show .menu-image {
  margin-left: 38px;
  width: 420px;
  height: 315px;
  flex-shrink: 0;
}
.dropdown-menu.show .menu-image img {
  width: 100%;
  display: none;
}
.dropdown-menu.show .menu-image img.active {
  display: block;
}
.dropdown-item {
  font-size: 1.4rem;
  line-height: 36px;
  text-transform: uppercase;
  border-bottom: 1px solid #e4f2b6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: all 0.2s ease-out;
}
.dropdown-item:hover {
  border-bottom: 1px solid #97a95e;
  background-color: transparent;
  cursor: pointer;
}
.dropdown-item:hover::after {
  position: absolute;
  top: 16px;
  right: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  -moz-transform: scale(0.9999);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #97a95e;
  margin-left: 16px;
}
.dropdown-item:focus {
  outline: none;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
  color: inherit;
}
.promo {
  margin-top: 93px;
  display: flex;
}
.promo__left {
  width: 47%;
}
.promo__left img {
  width: 100%;
}
.promo__right {
  width: 53%;
  padding-left: 36px;
  padding-right: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.promo__title {
  margin-top: 22px;
  font-size: 3rem;
  line-height: 3.3rem;
}
.promo__description {
  margin-top: 33px;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.promo__timing {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.promo__timing li:not(:last-child) {
  margin-right: 50px;
}
.promo__timing .value {
  color: #98d62c;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.promo__timing .key {
  color: #666;
  font-size: 1.4rem;
}
.promo__actions .to-buy {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  width: 160px;
  height: 51px;
  background-color: #9c3;
  border: 1px solid white;
  border-radius: 3px;
  text-transform: lowercase;
  margin-right: 47px;
}
.promo__actions .to-favourites {
  color: #999;
  font-size: 1.2rem;
}
.promo__actions .to-favourites::before {
  content: '';
  display: block;
  float: left;
  background: url("../images/icon-favorites.png");
  width: 21px;
  height: 18px;
  margin-right: 19px;
}
.types {
  display: flex;
  margin-top: 68px;
}
.types a {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;
}
.types a:not(:last-child) {
  margin-right: 2px;
}
.types a:hover {
  text-decoration: none;
  opacity: .75;
}
.types__image {
  width: 100%;
}
.types__name {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  height: 46px;
  background-color: #98d62c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hits {
  margin-top: 34px;
}
.hits-swither {
  display: flex;
  justify-content: center;
}
.hits-swither__button {
  font-size: 2.3rem;
  font-weight: 500;
  padding: 0 22px;
  margin: 0 2px;
}
.hits-swither__button--active {
  background-color: #f2f2f2;
  border-radius: 5px;
}
.hits-carousel {
  margin-top: 36px;
  position: relative;
}
.hits-carousel__controls a {
  display: block;
  position: absolute;
  background: url("../images/prev-arrow-type-2.png");
  width: 51px;
  height: 51px;
}
.hits-carousel__controls a:hover {
  cursor: pointer;
}
.hits-carousel__controls .prev {
  top: 87px;
  left: -50px;
}
.hits-carousel__controls .next {
  background: url("../images/prev-arrow-type-2.png");
  top: 87px;
  right: -50px;
  transform: rotate(-180deg);
}
.hits-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hits-list li {
  width: 266px;
  height: 369px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 23px 27px 20px;
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
}
.hits-list li:hover {
  border: 1px solid #cecece;
}
.hits-list__image {
  width: 209px;
  height: 178px;
}
.hits-list__image img {
  width: 100%;
}
.hits-list__name {
  padding-top: 35px;
  color: #2b2620;
  text-decoration: underline;
  position: relative;
}
.hits-list__name:hover {
  cursor: pointer;
}
.hits-list__mark {
  position: absolute;
  top: 5px;
  left: -13px;
  background: url("../images/flag.png") center;
  width: 50px;
  height: 32px;
}
.hits-list__status {
  color: #2b2620;
  margin-top: 13px;
}
.hits-list__price {
  font-weight: 700;
}
.hits-list__exist {
  color: #626262;
  font-size: 1.2rem;
  margin-left: 11px;
}
.hits-list__to-favourites {
  margin-top: 32px;
  display: block;
  color: #666;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.hits-list__to-favourites:hover {
  cursor: pointer;
}
.hits-list__to-favourites i {
  background: url("../images/icon-favorites2.png");
  width: 27px;
  height: 24px;
  float: left;
  margin-right: 15px;
}
.brands {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  background: url("../images/brands/brands.png");
  width: 1075px;
  height: 113px;
  position: relative;
}
.brands__text {
  position: absolute;
  height: 23px;
  bottom: -10px;
  border: 1px solid #555;
  color: #fff;
  border-radius: 5px;
  background-color: #484848;
  border: 1px solid white;
  border-radius: 3px;
  padding: 0 38px;
  display: flex;
  align-items: center;
}
.brands__text:hover {
  color: #fff;
  text-decoration: none;
}
.sale {
  margin-top: 75px;
}
.sale img {
  width: 100%;
}
.about {
  margin-top: 50px;
  margin-bottom: 75px;
}
.about__title {
  color: #333;
  font-size: 2.4rem;
  margin-bottom: 33px;
}
.about article {
  display: flex;
}
.about article:not(:last-child) {
  margin-bottom: 38px;
}
.about__image {
  width: 206px;
  height: 171px;
  flex-shrink: 0;
  margin-right: 62px;
}
.about__image img {
  width: 100%;
}
.about__link {
  color: #f60;
  text-decoration: underline;
  cursor: pointer;
}
.about__link:hover {
  text-decoration: none;
}
.about__description {
  margin-top: 20px;
  color: #333;
  font-size: 1.4rem;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.breadcrumbs__item:not(:last-child) {
  display: flex;
  align-items: center;
}
.breadcrumbs__item:not(:last-child)::after {
  content: '';
  display: block;
  float: right;
  background: url("../images/prev-arrow-type3.png");
  width: 8px;
  height: 13px;
  margin-left: 8px;
  margin-right: 8px;
}
.breadcrumbs__item a {
  color: #222;
  font-size: 1.2rem;
}
.product .container {
  padding: 0 12px;
}
.product-head__texts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-head__title {
  font-size: 3rem;
  margin-right: 44px;
}
.product-head__status {
  color: #999;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.product-head__status--active::before {
  content: '';
  background: url("../images/icon-checkbox-green.png");
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.product-head__rating {
  background: url("../images/rating.png");
  width: 245px;
  height: 47px;
  margin-top: 10px;
}
.product-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
  border-bottom: 1px solid #d5e79c;
  padding-bottom: 24px;
}
.product-menu__item a {
  color: #333;
  font-size: 1.8rem;
  padding-right: 28px;
  border-bottom: 10px solid transparent;
  padding-bottom: 15px;
  transition: all 0.2s ease-out;
}
.product-menu__item a:hover {
  opacity: .75;
  text-decoration: none;
}
.product-menu__item + .product-menu__item a {
  padding-left: 28px;
}
.product-menu__item--active a {
  border-bottom: 10px solid #d5e79c;
}
.product-body {
  margin-top: 39px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery {
  position: relative;
  width: 48%;
}
.gallery__mark {
  position: absolute;
  top: -34px;
  left: 0;
  background: url("../images/flag.png") center;
  width: 50px;
  height: 32px;
}
.gallery__code {
  position: absolute;
  top: -25px;
  right: 0;
  color: #666;
  font-size: 1.2rem;
}
.gallery__image {
  width: 100%;
}
.gallery__image img {
  width: 100%;
}
.gallery__thumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
}
.gallery__thumbs li {
  width: 66px;
  height: 60px;
  border: 2px solid #647c95;
}
.gallery__thumbs li + li {
  margin-left: -2px;
}
.gallery__thumbs li img {
  width: 100%;
}
.gallery__annotation {
  color: #999;
  font-size: 1.1rem;
  margin-top: 25px;
}
.product-price {
  width: 317px;
  height: 415px;
  background-color: #f9fbf0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 39px;
  padding-top: 24px;
}
.product-price__description {
  color: #f60;
  font-size: 1.2rem;
}
.product-price__old-value {
  margin-top: 25px;
  color: #666;
  font-size: 2.2rem;
  text-decoration: line-through;
}
.product-price__value {
  margin-top: 10px;
  color: #f60;
  font-size: 2.6rem;
  font-weight: 700;
}
.product-price__button {
  margin-top: 20px;
  height: 51px;
  background-color: #9c3;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.product-price__button i {
  display: inline-block;
  background: url("../images/icon-cart2.png") center;
  width: 27px;
  height: 23px;
  margin-right: 18px;
}
.product-price__buy-by-click {
  color: #333;
  font-size: 1.4rem;
  text-decoration: underline;
  margin-top: 15px;
  text-align: center;
  display: block;
}
.product-price__buy-by-click:hover {
  text-decoration: none;
}
.product-price__social {
  margin-top: 30px;
  text-align: center;
  color: #666;
  font-size: 1.2rem;
}
.product-price__social ul {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-price__social li {
  margin: 0 7px;
}
.product-price__social li:nth-child(1) a {
  background: url("../images/ico-tg.png") center;
  background-size: 100%;
}
.product-price__social li:nth-child(2) a {
  background: url("../images/ico-wp.png") center;
  background-size: 100%;
}
.product-price__social li:nth-child(3) a {
  background: url("../images/ico-viber.png") center;
  background-size: 100%;
}
.product-price__social li a {
  display: block;
  width: 36px;
  height: 36px;
}
.product-price__to-favourites {
  margin-top: 50px;
  color: #999;
  font-size: 1.2rem;
}
.product-price__to-favourites::before {
  content: '';
  display: block;
  float: left;
  background: url("../images/icon-favorites.png");
  width: 21px;
  height: 18px;
  margin-right: 19px;
}
.product-service {
  width: 23%;
  font-size: 1.2rem;
}
.product-service article {
  margin: 15px 0;
}
.product-service h6 {
  font-weight: 700;
}
.product-service__marked {
  color: #f60;
  font-weight: 700;
}
.product-description {
  margin-top: 5px;
}
.product-description li {
  color: black;
}
.product-description li:not(:last-child) {
  margin-bottom: 22px;
}
.product-description__texts {
  margin-top: 85px;
  color: #999;
}
.product-description__texts a {
  float: right;
  color: #666;
  font-size: 1.4rem;
  text-decoration: underline;
}
.product-description__texts p {
  margin-bottom: 25px;
}
.site-footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}
.site-footer h3 {
  color: #1c1c1c;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.information__list a {
  color: #242424;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.address {
  width: 300px;
}
.address__text {
  color: black;
  font-size: 1.5rem;
}
.address__email {
  margin-top: 25px;
  margin-bottom: 55px;
  color: #242424;
  font-size: 1.2rem;
}
.address__social {
  background: url("../images/footer-social.png");
  width: 151px;
  height: 30px;
}
.schedule {
  width: 215px;
}
.schedule li {
  color: black;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.schedule li span {
  font-weight: 700;
}
.contacts {
  margin-right: 50px;
}
.contacts__list {
  color: #242424;
  font-size: 1.9rem;
  line-height: 2.2rem;
  position: relative;
  padding-left: 34px;
}
.contacts__list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/footer-contacts.png");
  width: 20px;
  height: 63px;
}
.copyright {
  margin-top: 57px;
  margin-bottom: 152px;
  color: #999;
  font-size: 1.2rem;
}
